


html, body
{
    margin: 0%;   
    width: 100%;
    height: 100%;
}




/*   CSS Variables */

:root
{
    /*  Color variables */
    --primary-color: #4458dc;
    --title-color: green;
    --border-color:purple;
    --gradient-color: linear-gradient(90deg, #061264 0%, #f30808 100%);
    --gradient-color1: linear-gradient(90deg, #0c28dd 0%, #c01967 100%);
    


    /* Font family variables */
    --roboto:'Roboto',cursive;
}