


/* ====================Start Header styles=============================== */

.header_area
{
    position:sticky;  
    background-color: white;
   
}

.navbar-brand
{
    float: left;
    padding-right: 10px;
}

.navbar-toggler
{
   float:right;
}

.header_area .main-menu .navbar .navbar-brand img{
  
    height: 100px;
    width: 50px;
}

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 4rem 0 4rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 10rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal bold 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* ======================End Header styles================================ */



/* ==================Start Banner Styles======================================== */

.start-main .site-intro .intro-title h1,h3,h4
{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.start-main .site-intro .intro-title h1{
    text-shadow: 3px 3px red; 
}

.start-main .site-intro .intro-title h4
{
    font: normal bold 20px/ 25px var(--roboto);
}



/* ===================End Banner Styles======================================= */

/* ===================Start About Area======================================== */

.aboutme-area .aboutme-title h2
{
    font: normal bold 35px/ 35px var(--roboto);
    background: var(--gradient-color1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* ===================End About Area=========================================== */

/*  =======================Start Footer Styles============================= */

footer.footer-area{
    padding: 5rem 0;
    background: url(../Images/footer-bg.png) no-repeat;
}


footer.footer-area .site-logo img
{
    height: 100px;
    width: 50px;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* ===========================End Footer Styles============================= */
